<div class="info">
  <h1>Semanthica - Your Intelligent Shopping Companion</h1>
  <div class="platform-description">
    <p>Welcome to Semanthica, the cutting-edge e-commerce platform that revolutionizes your shopping experience with the power of semantic search. Our platform utilizes advanced AI algorithms to understand the context of your search queries, providing you with highly relevant and personalized product recommendations.</p>
    <p>As you explore Semanthica, you'll discover a seamless and intelligent interface that adapts to your preferences. Our platform goes beyond traditional search methods, ensuring that you find exactly what you're looking for, even if you're not sure how to express it.</p>
    <p>Our commitment to excellence extends to the curated selection of products from top brands, ensuring quality and satisfaction. Say goodbye to endless scrolling and irrelevant results—Semanthica is designed to understand your needs and deliver a tailored shopping experience.</p>
    <p>Experience the future of online shopping with Semanthica. Browse with confidence, discover with ease, and redefine the way you shop.</p>
  </div>
  <div class="contact">
    <p class="contact-head">CONTACT INFO</p>
    <p><mat-icon>mail</mat-icon>semanthica@info.com</p>
    <p><mat-icon>cloud</mat-icon>https://github.com/YgLK/semanthica</p>
  </div>
</div>
