fastapi==0.104.1
uvicorn[standard]==0.23.2
numpy==1.26.1
opencv_python==4.8.1.78
opencv_python_headless==4.8.1.78
passlib==1.7.4
pydantic==2.4.2
pydantic[email]
pydantic_extra_types==2.1.0
python-dotenv==1.0.0
qdrant_client==1.6.4
sentence_transformers==2.2.2
SQLAlchemy==2.0.21
tensorflow==2.14.0
pytest==7.4.3
psycopg2-binary==2.9.9
phonenumbers==8.13.22
sqlalchemy-utils==0.41.1