@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

.reviews-wrapper {
  margin: 0 auto;
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 2%;
}

.review-form {
  text-align: center;
}

.review-form button {
  margin: 2%;
  width: 15vw;
}

.review-form button:disabled {
  background-color: #67635e;
  color: #000000;
}

.review-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.review-item {
  text-align: left;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-id {
  font-weight: bold;
}

.order-date {
  color: #555;
  font-size: 0.8em;
}

.review-body {
  margin-top: 10px;
}

.review-title {
  font-size: 1.2em;
  font-weight: bold;
}

.review-content {
  color: #333;
}

.mat-divider {
  margin: 15px 0;
}

.error em {
  float: right;
  color: #e05c65;
  padding-left: 10px;
}

.error input,
.error textarea {
  background-color: #e3c3c5;
}

.error ::-webkit-input-placeholder,
.error ::-moz-placeholder,
.error :-moz-placeholder,
.error :-ms-input-placeholder {
  color: #999;
}
