<h1 class="pageTitle">Order history</h1>
<div *ngIf="getOrderHistory().length > 0" class="cartWrapper">
  <table class="table table-bordered orderTable">
    <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Items</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let order of getOrderHistory()" class="orderWrapper">
      <td>{{ order.id }}</td>
      <td>{{ order.createdAt }}</td>
      <td>
        <table class="table itemSubTable">
          <tr *ngFor="let orderRecord of order.orderRecords" [routerLink]="['/item', orderRecord.item_id]" routerLinkActive="active">
            <td>{{ orderRecord.item_name }}</td>
            <td>{{ orderRecord.item_price }}</td>
            <td>{{ orderRecord.quantity }}</td>
          </tr>
        </table>
      </td>
      <td>{{ order.total }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="getOrderHistory().length == 0">
  <h3 class="emptyHistory">Order history is empty.</h3>
</div>
