.dishCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30vw;
  width: 80%;
  margin: 0 auto 2%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dish-info {
  display: flex;
  flex-direction: column;
  padding: 1%;
  width: 60%;
}

.dishImg {
  aspect-ratio: 1 / 1;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-right: 3%;
}

.menu {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}

.property-description {
  font-size: smaller;
  padding: 0.5vw 0;
  margin: 0;
}

.name {
  font-size: 1.3vw;
  font-weight: bold;
  margin-bottom: 0.5vw;
}

.statsDiv {
  margin-top: 1vw;
  padding: 1px;
  width: 30%;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(255, 145, 0, 0.58);
}

.price {
  font-weight: bold;
}

button {
  margin-top: 0.5vw;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:disabled {
  cursor: not-allowed;
}
